/****************************************************************************/
/********************************** Import **********************************/
/****************************************************************************/
@import url("./general-styles-library.css");

/****************************************************************************/
/**************************** Variables definition **************************/
/****************************************************************************/
:root{
    --header-height: 80px;
    --footer-height: 80px;
    --main-height: calc(100vh - var(--header-height) - var(--footer-height));
}

/****************************************************************************/
/********************************** Reset ***********************************/
/****************************************************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/****************************************************************************/
/********************************* General **********************************/
/****************************************************************************/
header{
    height: var(--header-height);
}
footer{
    height: var(--footer-height);
}
main{
    height: var(--main-height);
}